body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #d0def7;
}
nav {
  background-color: #393737;
  padding: 10px 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}
#img1{
    margin-right: 100px;

}
a { 
  display: block;
  top: 25%;
  padding: 40px 26px;
  text-decoration: none;
  color: rgb(150, 153, 168);
  
}
a:hover {
  transform: scale(1.10);
  color: #ccc;
  transition: 0.4s;

}

.active {
  color: #ffffff;
}


.movies {
  padding: 40px;
  background-color: #1c1c1c;
}

.movies h2 {
  color: #fff;
  margin-bottom: 20px;
}


.movies-flex {
  display: flex;
  flex-wrap: wrap;     
  gap: 20px;
}



.movie-card {
  width: calc(100% / 6 - 20px); 
  background-color: #2a2a2a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);

}


.movie-card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.movies-flex ,p{
  color: #8e8989;
  padding: 10px;
  margin-top: auto;
  font-size: 13px;
}

.movie-card h3 {
  color: #ccc;
  font-size: 14px;
  padding: 10px;
  min-height: 40px;
}
.movies-flex ,img{
  border-radius: 10px;
}


@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
 #img1{
  display: none;
 }

 a{
  width: 50%;
  text-align: center;
  padding: 10px 0;
 }
  .movie-card {
    width: calc(100% / 2 - 20px); 
  }
  .footer-cont {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

}

@media (max-width: 1024px) {
  .movie-card {
    width: calc(100% / 4 - 20px); 
  }
}


@media (max-width: 480px) {
  .movie-card {
    width: 100%; 
    
  }
}

@media (min-width: 1026px) {
  #maze1{
    display: none;
  }
    #maze2{
    display: none;
  }
 nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #393737;
  z-index: 1000;
 }
 body{
  padding-top: 90px;
 }
  
}
footer{
  background-color: black;
  padding: 20px 0;
}
.logos{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

}




