body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f4f4f4;
  min-height: 100vh;


}
main{
  flex: 1;
}
nav {
  background-color: #393737;
  padding: 10px 0;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 30px;
}
#img1{
    margin-right: 100px;

}
a { 
  display: block;
  top: 25%;
  padding: 15px 22px;
  text-decoration: none;
  color: rgb(150, 153, 168);
  
}
a:hover {
  transform: scale(1.10);
  color: #ccc;
  transition: 0.4s;

}

.register-form {
  max-width: 400px;
  margin: 80px auto;
  padding: 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.register-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: 500;
}

.register-form input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.register-form input:focus {
  border-color: #6a5acd;
}
@media (max-width: 768px) {
  ul {
    flex-direction: column;
    align-items: center;
  }
 #img1{
  display: none;
 }

 a{
  width: 50%;
  text-align: center;
  padding: 10px 0;
 }
  .footer-cont {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

}

footer{
  background-color: black;
  padding: 20px 0;
  
}
.logos{
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;

}

footer img{
  border-radius: 10px;
}

footer p{
color: rgb(130, 129, 129);
}
.register-btn {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  background: transparent;
  border: 2px solid #6a5acd;
  color: #6a5acd;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.register-btn:hover {
  background: #6a5acd;
  color: #fff;
  box-shadow: 0 8px 20px rgba(106, 90, 205, 0.4);
}